<!-- <div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="/home"><b>GIPHY APP</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active"routerLink="home">Gifs <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/stickers">Stickers</a>
      
    </div>
  </div>
    </nav>    

</div> -->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/home"><b>GIPHY APP</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="home">GIPHS<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="">STICKERS</a>
        </div>
      </div>
    </nav>
  </div>
  