
    <div class="card text-center">
        <div class="card-body">
            <form class="form-inline ">
                <input type="text"
                        class="form-control" 
                        placeholder="Search.."
                        name="searchIt"
                        [(ngModel)]="searchIt">
                <button class="btn btn-info bg-dark"
                        (click) ="search()"    >
                    Search
                </button>        

            </form>

        </div>

    </div>
